/* Supplier.module.css */

/* Header */
.supplierHeader {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Search Input */
.searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}

/* Table Styles */
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  font-size: medium;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.table th i {
  font-size: 14px;
  vertical-align: middle;
  margin-left: 5px;
}

.table th:hover {
  background-color: #ffcc00;
  color: #333;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Button Styles */
.deleteBtn {
  background-color: transparent;
    color:#333;
    border: 1px solid  #ffcc00;
    padding: 5px 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.deleteBtn:hover {
  background-color: #ff0000;
  color: #fff;
  border-color: #ff0000;
}

.addBtn {
  background-color: #ffcc00;
  color: #333;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.addBtn:hover {
  background-color: #333;
  color: #ffcc00;
}

/* Input Fields */
.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}

/* Add New Supplier Section */
.addSupplierHeader {
  margin-top: 20px;
}

.addsupp{
  margin-bottom: 3rem;
}
